.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  padding: 92px 50px 96px;
}

.header_menu {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.head {
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  list-style-type: none;
}

.see_lots {
  font-size: 18px;
  font-weight: 400;
  list-style-type: circle;
  text-underline-offset: 4px;
}

.header_image {
  width: 137px;
  height: 105px;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  
  justify-self: flex-end;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;
  
}

.header_address {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact {
  text-underline-offset: 3px;
}

.cover {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover_title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 106px;
  gap: 20px;
  font-size: 100%;
  text-align: center;
}

.it {
  align-self: flex-start;
  line-height: 1.15;
  /* transform: translateY(2px); */
  /* padding-top: 2px; */
  text-align: center;
  word-spacing: 5px;
  width: 286px;
  letter-spacing: 0.3em;
  /* height: 115px; */
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.you {
  align-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  width: 339px;
  /* left: 663px; */
  top: 435px;
}

.need {
  align-self: flex-end;
  text-align: right;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  width: 387px;
  height: 115px;
}
.description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
  gap: 30px;
}

.lots_heading {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.button {
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  position: relative;
  background-color: transparent;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
}

.lots {
  display: grid;
  grid-template: auto auto auto / 1fr;
  margin-left: 24px;
  font-size: 20px;
}

.headline_lots {
  padding-top: 179px;
  padding-bottom: 27px;
  padding-left: 44px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.cards {
  display: flex;
  align-items: center;
  max-width: 1052px;
  width: 100%;
  gap: 25px;
}

.card {
  width: 334px;
  height: 596px;
  padding: 40px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 35px;
}

.card_about_cinema {
  background-image: url(../images/card-lot-01.jpg);
}

.card_about_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_about_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.headline_card {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  color: white;
  font-size: 20px;
  line-height: 1.2;
}

.see_more {
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
}

.about_auction {
  margin-top: 120px;
  /* margin-bottom: 156px; */
}
.auction {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
  gap: 25px;
  padding: 35px 24px 0px;
}

.logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 148px;
  height: 114px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  max-width: 693px;
  width: 100%;
}

.headline_auction {
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  
}

.text {
  display: flex;
flex-direction: column;
gap: 24px;


  width: 693px;
  /* height: 449px; */
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 77px;
}

.text_content {
 font-size: 20px;
letter-spacing: 0;
}

.footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
max-width: 1100px;
padding-bottom: 80px;
 padding-top: 180px;
padding-left: 50px;
padding-right: 50px;
}

.footer_address {
max-width: 264.7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  
};

.footer_menu-link {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer_link {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: none;
}

.footer_social-icon {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  text-decoration: none;
  margin-left: 50px;
  gap: 48px;
}

.images_footer {
  width: 48px;
}
